---
interface Props {
  title: string,
  url: string,
  description?: string
}
const { title, url, description } = Astro.props;
---

<li>
  <a href={url}>{title}</a>
  {description ? <p>{description}</p> : null}
</li>
