---
interface Props {
  title: string;
  url: string;
  description?: string;
  pubDate: Date;
}
const { title, url, description, pubDate } = Astro.props;
---

<li>
  <a href={url}>{title}</a>
  {description ? <p class="description">{description}</p> : null}
  <p class="pub-date">
    Published on {
      pubDate.toLocaleDateString("en-US", {
        month: "long",
        day: "numeric",
        year: "numeric",
      })
    }
  </p>
</li>
<style>
  li {
    list-style: "";
  }
  a {
    text-decoration: none;
    margin: 0;
  }

  .description {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.25rem;
  }
  .pub-date {
    font-size: 0.875rem;
    margin-top: 0;
  }
</style>
