---
import { Font } from "astro:assets";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

interface Props {
  pageTitle: string;
  pageTitleLevel?: 1 | 2 | 3 | 4 | 5 | 6;
}
const { pageTitle, pageTitleLevel = 1 } = Astro.props;
const TitleTag = `h${pageTitleLevel}`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-display" />
    <Font cssVariable="--font-serif" />
    <Font cssVariable="--font-sans" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <main>
      <TitleTag>{pageTitle}</TitleTag>
      <slot />
    </main>
    <Footer />
  </body>
</html>
