---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  {
    frontmatter.image?.url && (
      <img
        src={frontmatter.image.url}
        width="300"
        alt={frontmatter.image?.alt}
      />
    )
  }
  <slot />
    <p class="pub-date">
    Published on {
      frontmatter.pubDate.toLocaleDateString("en-US", {
        month: "long",
        day: "numeric",
        year: "numeric",
      })
    }
  </p>
</BaseLayout>

<style></style>
