---
import BaseLayout from "./BaseLayout.astro";
import { formatPubDate } from "../lib/dates";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  {
    frontmatter.image?.url && (
      <img
        src={frontmatter.image.url}
        width="300"
        alt={frontmatter.image?.alt}
      />
    )
  }
  <slot />
  <p class="pub-date">
    {
      frontmatter.published === true
        ? `Published on ${formatPubDate(frontmatter.pubDate)}`
        : "Draft"
    }
  </p>
</BaseLayout>

<style>
</style>
